---
layout: project
---

<p>
  <b>தமிழா! திட்ட நிலவரம்</b>:
  <a href="https://github.com/Thamizha"><span id="num-repos">&nbsp;</span>பொதிகள் (repos)</a>
  <a href="https://github.com/thamizha?tab=members"><span id="num-members">&nbsp;</span>உறுப்பினர்கள்</a>
</p>

<div class="project-list thumbnails">

{% for project in site.data.projects %}
  <section>
	    <div class="project-download pull-right {{project.isdownloadable}}">
		{% if project.isdownloadable == true %}
		<img class="inline"  src="/assets/images/{{ project.project_image }}" alt="" width="280" />
		  <div class="project-download-text"> 
				<a href="{{project.download_url}}">{{ project.name }}  பதிவிறக்க</small></a>						
		  </div>
		{% else %}
			<a target="_blank" href="{{project.websiteurl}}">
				<img class="inline"  src="/assets/images/{{ project.project_image }}" alt="" width="280" /> 
			</a>	
		{% endif %}				
        </div>		
    <h2><a href="{{ project.url }}">{{ project.name }} {{project.latest_version}}</a></h2>
    <h3>{{ project.summary }}</h3>    
    <p>{{ project.description}}</p> <p>இது {{project.license}} உரிமத்தின் கீழ் வெளியிடப்பட்ட ஒரு கட்டற்ற மென்பொருள். இந்த மென்பொருளின் தற்போதைய பதிப்பு: {{project.latest_version}} </p>
	<p><strong>ஒருங்கிணைப்பாளர்(கள்):</strong> {{ project.project_admins | join: ", " }}</p>
	<p><strong>பங்களிப்பாளர்(கள்):</strong> {{ project.project_contributors | join: ", " }}</p>

	</section>
  <div class="spacer"></div>
{% endfor %}

<p>அண்மைய மாற்றங்களைக் <a href="https://github.com/Thamizha/repositories">கிட்கப்பில் பாருங்கள்</a></p>
</div>
