* {
  box-sizing: border-box;
}


body {
  /*background: url(../images/body_bg.png);*/
}

body,
h1,
h2 {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 34px;
}
@media only screen and (max-width : 640px) {
  .h1 {
    font-size: 24px;
  }
}

h3 {
	font-size: 16px;
	color: gray
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #eee;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(0,0,0,0.6);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}

.hero .btn {
  font-size: 1.2em;
  line-height: 2;
}

.hero,
.wrapper,
.footer {
  max-width: 980px;
  margin: 0 auto;
}

.hero {
  padding: 1em;
}

.header {
  background: #a90329;
  background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -o-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -ms-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: linear-gradient(to right,  #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: url(../images/hero_bg.png);
  color: #fff;
}

.nav {
  width: 60%;
  float: right;
}

@media only screen and (max-width : 640px) {
  .nav {
    width: 100%;
  }
}

.logo {
  width: 20%;
  float: left;
  padding: 10px 0;
}

@media only screen and (max-width : 640px) {
  .logo {
    width: 100%;
  }
}

.top-bar {
  background: rgba(0,0,0,0.7);
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  float: left;
}

.nav a {
  display: block;
  padding: 1em;
  margin-top: 0.8em;
  text-decoration: none;
  color: #fff;
  background: url(../images/nav_bg.png) no-repeat center left;
}


@media only screen and (max-width : 640px) {
  .nav a {
   padding: 0.5em 0.75em;
   margin-left: 1em;
   margin-top: 0;
  }
}

.nav a:hover {
  opacity: 0.8;
}

.hero-text {
  width: 60%;
  float: left;
}

.featured-download , .project-download{
  width: 40%;
  float: left;
  margin-top: 1em;
}

.featured-download-text, .project-download-text {
    bottom: 100px;
    font-size: 16px;
    left: 30px;
	text-align: center;
    position: relative;
    width: 138px;
}
.featured-download-text a, .project-download-text a  {
    color: #FFFFFF;
    text-decoration: none;
}

.content {
  /*background: url(../images/content_bg.png) repeat-x top center;*/
}


table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

.subscription {
  width: 40%;
  float: left;
}

@media only screen and (max-width : 640px) {
  .subscription {
    width: 100%;
    float: none;
  }
}

.news, .about {
  width: 60%;
  float: left;
  margin-top: 35px;
}

fieldset {
  border: none;
}

legend {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
font-weight: 300;
padding: 0.8em 0 0.4em 0;
}

.footer {
  clear: both;
}

section a, section a.active, section a.hover  {
	text-decoration: none;
}

.pull-right { float: right; }
.pull-left { float: left; }
.clear { clear: both; }
.center { text-align: center !important; }
.right { text-align: right; }
.spacer {
  border-top: 1px solid #E6E6E6;
  margin: 3em auto;
}

.note {
    font-size: 12px;
    color: #4b4a4a;
}

/* Fieldset Stuff */

fieldset {
    border: 1px solid silver;
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    display: inline-block;
}

fieldset label{
    margin-right: 10px;
    position: relative;
}

fieldset input{
    float: left;
}

/* Loading thing */

#loading {
    position:absolute;z-index:999;
}

#loading div {
    display:table-cell;
    width:960px;
    height:400px;
    margin: 10px auto;
    background:#fff;
    text-align:center;
    vertical-align:middle;
} 

.intro {
    margin-top: 10px;
    font-weight: bold;
    width: 60%;
}

.homeside {
    margin-top: -130px;
}
