<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Thamizha</title>

    <meta name="author" content="Arunan Skanthan, Manikk">
    <meta name="description" content="Free and Open Source Tamil Software.">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/styles/main.css">
  </head>
  <body class="home">
    <header>
        <div id="logo">
          <a href="/"><img src="/assets/images/thamizha_logo.png" alt="Thamizha" /></a>
        </div><!-- #logo -->

      <nav>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/community/">Community</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul><!-- .nav -->
      </nav>
    </header>

    <div class="content">
      {{ content }}
    </div><!-- .content -->

    <footer>
      <p><a href="https://github.com/thamizha/thamizha.github.com#license">Copyleft</a> &copy; 2013 Thamizha.</p>
    </footer>

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/scripts/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    -->
    <script src="/assets/scripts/main.js"></script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-294888-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>

