<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Thamizha</title>

    <meta name="author" content="Arunan Skanthan, Manikk">
    <meta name="description" content="Free and Open Source Tamil Software.">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/styles/components/normalize-css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/main.css">
  </head>
  <body class="home">
    <header class="header">
      <div class="top-bar clearfix">
        <div class="wrapper">
          <div class="logo">
            <a href="/"><img src="/assets/images/thamizha_logo.png" alt="Thamizha" /></a>
          </div><!-- .logo -->

          <nav class="nav">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contribute.html">Contribute</a></li>
              <li><a href="http://groups.google.com/group/freetamilcomputing/" target="_blank">Community</a></li>
            </ul><!-- .nav -->
          </nav>
        </div><!-- .wrapper -->
      </div><!-- .top-bar -->

      <div class="hero clearfix">
        <div class="hero-text">
          <h1 class="hero-title">Free and Open Source Tamil Software</h1>
          <!--p>We are a group of volunteers who develop, support and work to promote the usage of Tamil in computers.</p-->
          <p><a class="btn btn-primary">Learn more about us</a></p>
        </div>
        <div class="featured-download">
          <img src="/assets/images/download.png" alt="" />
		  <div class="featured-download-text"> 
			<a href="https://drive.google.com/uc?id=0Bw25oWQKNnRyNlJQTjFfV2k4VVU&export=download">Download eKalappai</small></a>
		  </div>
        </div>
      </div>
    </header>

    <div class="content">
      <div class="wrapper">
      {{ content }}
      </div><!-- .wrapper -->
    </div><!-- .content -->

    <footer class="footer">
      <p><a href="https://github.com/thamizha/thamizha.github.com#license">Copyleft</a> &copy; 2013 Thamizha.</p>
    </footer>

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/scripts/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    -->
    <script src="/assets/scripts/main.js"></script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-294888-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>

